body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top left, #4A14BC, #C51162);
  background-repeat: cover;
  height: 100vh;
  color: white;
}

.formcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border-radius: 8px 8px;
  height: 8vh;
  width: 200vw;
  font-family: 'Roboto', sans-serif;
}

.formcontainer h1{
  padding: 2vh;
}

input{
  margin-bottom: 5vh;
  border-right: none;
  border-top: none;
  border-left: none;
  background-color: transparent;
  outline: none;
  color: white;
  caret-color: white;
}

input[type=text]::placeholder {
  text-align: center;
  color: white;
  font-family: 'Roboto', sanserif;
}

input[type=submit]{
  background-color: rgba(255, 255, 255, .2);
  width: 100%;
  padding: 2vh;
  border: none;
  cursor: pointer;
  border-radius: 4px 4px;
}
